* {
   font-family: 'Roboto', sans-serif;
   --menu-row-height: 30px;
   --sidebar-bgc: #1992d4;
   --article-bgc: #e2e8f0;
}

html {
   font-size: 10px;
}

body {
   padding: 0;
   margin: 0;
   height: 100vh;
}

.main {
   height: 100%;

   display: grid;
   grid-template: 200px 1fr / 1fr 4fr;
   grid-template-areas:
      "sidebar nav"
      "sidebar article";
}

.sidebar {
   background-color: var(--sidebar-bgc);
   color: white;
   grid-area: sidebar;
}

.menu {
   display: grid;
   grid-template: var(--menu-row-height) / 1fr 5fr;
   grid-auto-rows: var(--menu-row-height);
   padding: 20px;
   gap: 32px;
   align-items: center;
   margin-top: 16px;
}

.logo {
   justify-self: right;
   margin-right: -8px;
}

.icon {
   justify-self: right;
   padding-right: 8px;
}

.logo img {
   width: 6.4rem;
}

.icon img {
   width: 3.2rem;
}

.menu .title {
   font-size: 2.8rem;
   font-weight: bold;
}

.menu .section-title {
   font-size: 2.4rem;
   font-weight: bold;
   color: white;
}

.menu .section-title a {
   text-decoration: none;
}

.menu .section-title a:visited {
   color: white;
}

.nav {
   grid-area: nav;
   padding: 10px 50px 20px;

   display: grid;
   grid-template-columns: 1fr;
   grid-template-areas:
      "search user"
      "greeting function";

   gap: 20px;
}

.black-icon {
   width: 2.8rem;
}

/* .nav-left {
   height: 100%;

   display: grid;
   grid-template-columns: 1fr;
   gap: 20px;

   flex: 1;
} */

.search {
   grid-area: search;

   display: flex;
   align-items: center;
   gap: 10px;
}

.search input {
   width: 100%;
   background-color: var(--article-bgc);
   font-size: 1.5rem;
   border-style: none;
   height: 3rem;
   border-radius: 1.5rem;
   padding-left: 20px;
   padding-right: 20px;
}

.greet-user {
   grid-area: greeting;

   display: grid;
   grid-template: 1fr 1fr / 90px 1fr;
   grid-template-areas:
      "pic hi"
      "pic name";
   align-items: center;
}

.greet-user .pic {
   grid-area: pic;
}

.greet-user .pic img {
   width: 72px;
}

.greet-user .hi {
   grid-area: hi;
   align-self: end;

   font-size: 1.2rem;
   font-weight: bold;

   padding-bottom: 8px;
}

.greet-user .name-at {
   grid-area: name;
   align-self: start;

   font-size: 2.4rem;
   font-weight: bold;
}

.user {
   grid-area: user;

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.user .small-pic img {
   width: 48px;
}

.user .name {
   font-size: 2rem;
   font-weight: bold;
}

.user-function {
   grid-area: function;

   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 20px;
}

.user-function button {
   background-color: var(--sidebar-bgc);
   color: white;
   font-size: 1.6rem;
   font-weight: 500;

   padding-top: 1rem;
   padding-bottom: 1rem;
   width: 100px;

   border-style: none;
   border-radius: 1.8rem;
   /* flex:1; */
}

.article {
   background-color: var(--article-bgc);
   grid-area: article;

   display: grid;
   grid-template-columns: 1fr 300px;
   padding-top: 30px;
   padding-left: 16px;
   padding-right: 16px;
}

.article h1 {
   font-size: 2rem;
   font-weight: 500;
   margin-bottom: 10px;
}

.article h3 {
   font-size: 1.4rem;
   font-weight: bold;
   margin-bottom: 0px;
}

.article h4 {
   font-size: 1.4rem;
   /* font-weight: bold; */
   margin-bottom: 0px;
}

.article p {
   color: gray;
}

.anns,
.trending {
   background-color: white;
   padding: 20px 30px;
   border-radius: 8px;
   box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
   margin-bottom: 30px;
}

.anns p {
   font-size: 1.4rem;
   margin-top: 2px;
}

.anns hr {
   border: 0;
   height: 2px;
   background-color: var(--article-bgc);

}

.trending img {
   width: 48px;
   float: left;
   padding-right: 16px;
   /* padding-bottom: 10px; */
}

.trending p {
   font-size: 1.3rem;
   margin-top: 2px;
}

.trending-item {
   padding-bottom: 10px;
}

.projects {
   background-color: aqua;
}